.row{
	margin-bottom: 5px;

}

#btnSubmit{
	display: block;
	margin-bottom: 10px;
	width: 106.06px;
	height: 36px;

}
#table{
	margin-top: 100px;
}

#datepicker tbody tr{
	color:#ffffff;
}


/* Add media queries to change dropdown box and date box to a different format at  768px */
